 :root {
      --bg: #2E4600;
      --text: #c98820;
      --accent: #C19A6B;
      --accent2: #7D8F69;
      --card-bg: #3C3C3C;
      --border: #F5F5DC;
    }
    * { box-sizing: border-box; }
    body {
      margin: 0;
      font-style: oblique;
      font-family: "Papyrus", "Segoe Script", cursive;
      background: var(--bg);
      color: var(--text);
    }
    header {
      background: var(--bg);
      border-bottom: 2px solid var(--accent);
      padding: 16px;
      text-align: center;
    }
    header h1 {
        font-family: "Papyrus", "Segoe Script", cursive;
        
      font-size: 2rem;
      color: var(--accent);
      margin: 0;
    }
    nav {
      margin-top: 10px;
    }
    nav a {
      color: var(--text);
      margin: 0 12px;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.3s;
    }
    nav a:hover {
      color: red;
      text-shadow: 0px 0px 20px #c98820;
    }
    section {
      padding: 40px 20px;
      max-width: 1100px;
      margin: auto;
    }
    h2 {
          font-family: "Papyrus", "Segoe Script", cursive;
      font-size: 1.8rem;
      color: var(--accent);
      text-align: center;
      
      margin-bottom: 20px;
    }
    .menu-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 20px;
    }
    .elemento {
      background: var(--card-bg);
      border: 1px solid var(--border);
      border-radius: 12px;
      padding: 16px;
      text-align: center;
      box-shadow: 0 0 12px #f0ffb5;
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .elemento:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px red;
    }
    .elemento img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 12px;
    }
    .elemento h3 {
      font-family: "Papyrus", "Segoe Script", cursive;
      
      margin: 8px 0;
      color: var(--accent2);
    }
    .elemento p {
      font-size: 0.9rem;
      color: #aeffff;
    }
    .price {
      display: inline-block;
      margin-top: 8px;
      font-weight: bold;
      color: var(--accent);
    }
    footer {
      background: #0f0f1a;
      border-top: 2px solid var(--accent);
      text-align: center;
      padding: 20px;
      font-size: 0.9rem;
      color: #888;
    }