.cabecera {
    color: white;
    background-color: grey;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}
.contenedor {

    display: grid;
    grid-template-columns: 50% 50%;

    margin: 0px;

}
.imagen {
    padding-top: 15%;
}

.bloque-izquierda {
    position: relative;
    left: 60%;
    top: 20%;
    text-align: center;
    height: 500px;
    width: 300px;
    border: 1px solid black;
}
.ReadMore {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 70px;
    padding-left: 70px;
    background-color: orange;
    font-size: 30px;
    color: white;

}
.ReadMore:active {
    color: rgba(255, 166, 0, 0.548);
    background-color: rgba(255, 166, 0, 0.548);;
}
.bloque-derecho {
     position: relative;

    top: 12%;
    left: 100px;
    text-align: center;
    height: 600px;
    width: 400px;
    border: 1px solid black;
    background-color: rgb(221, 221, 221);
}
.Titulo {
    text-transform: uppercase;
    font-size: 30px;
    color: orange;
    margin-bottom: 10px;
    margin-top: 50px;
    font-weight: bold;
    
}
.pie {

    position: relative;
    background-color: grey;
    text-align: fixed;
    top: 100px;
    padding: 20px;
    margin: 0px;
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}